In [ ]:
class One:
  def __init__(self,a):
    self.a=a**2

class Two:
  def __init__(self,a):
    self.a=a*2

In [ ]:
a=input('Введите число')
a=int(a)
if -100<a<100:
  obj=One(a)
else:
  obj=Two(a)
print(obj.a)

Введите число23
529

In [ ]:
class Base:
  def __init__(self,n):
    self.numb=n
  def out(self):
    print(self.numb)

class One(Base):
  def multi(self,m):
    self.numb*=m

class Two(Base):
  def inlist(self):
    self.inlist=list(str(self.numb))
  def out(self):
    i=0
    while i<len(self.inlist):
      print(self.inlist[i])
      i+=1

In [ ]:
obj1= One(45)
obj2=Two('abc')

obj1.multi(2)
obj1.out()

obj2.inlist()
obj2.out()

90
a
b
c

In [ ]:
class Base:
  def __init__(self,N):
    self.numb=N
  def out(self):
    self.numb/=2
    print(self.numb)

class Subclass(Base):
  def out(self):
    print('\n----')
    Base.out(self)
    print('----\n')

i=0
while i<10:
  if 4<i<7:
    obj = Subclass(i)
  else:
    obj=Base(i)
  i+=1
  obj.out()

0.0
0.5
1.0
1.5
2.0

----
2.5
----


----
3.0
----

3.5
4.0
4.5