## Конструктор класса

In [ ]:
class Person:
  def setName(self,n,s):
    self.name=n
    self.surname=s

In [ ]:
p1=Person()
p1.setName("Bill","Ross")
p1.name,p1.surname

('Bill', 'Ross')

In [ ]:
class Person2:
  def __init__(self,n,s):
    self.name=n
    self.surname=s

In [ ]:
p1=Person2("Sam","Baker")
print(p1.name, p1.surname)

Sam Baker

In [ ]:
class Rectangle:
  def __init__(self,w=0.5,h=1):
    self.width=w
    self.height=h
  def square(self):
    return self.width*self.height

In [ ]:
rec1=Rectangle(5,2)
rec2=Rectangle()
rec3=Rectangle(3)
rec4=Rectangle(h=4)
print(rec1.square())
print(rec2.square())
print(rec3.square())
print(rec4.square())

10
0.5
3
2.0

In [14]:
class Person:
  def __init__(self,n,s,q=1):
    self.name=n
    self.surname=s
    self.skill=q
  def __del__(self):
    print('До свидания мистер',self.name,self.surname)
  def info(self):
    return "{0} {1},{2}".format(self.name,self.surname,self.skill)
worker=Person('И','Котов',3)
helper=Person('Д','Мышев',1)
maker=Person('О','Рисов',2)
print(worker.info())
print(helper.info())
print(maker.info())
del helper
print("Конец программы")
input()

И Котов,3
Д Мышев,1
О Рисов,2
До свидания мистер Д Мышев
Конец программы

''

In [48]:
class Student:
  def __init__(self,surname,birth,gender,number,gmail,university,institut,speciality,mark,group="ADEY"):
    self.surname=surname
    self.birth=birth
    self.gender=gender
    self.number=number
    self.gmail=gmail
    self.university=university
    self.institut=institut
    self.speciality=speciality
    self.mark=mark
    self.group=group
  def __del__(self):
    print('Отчислен студент -',self.surname,self.mark)
  def info(self):
    return "{0}  - {1},{2},{3},{4},{5},{6},{7},{8},{9}".format(self.surname,self.birth,self.gender,self.number,self.gmail,self.university,self.institut,self.speciality,self.mark,self.group)

st1=Student('Козлов','5/10/2002','M','89473864854','kozel@gmail.com','MГПУ','ИЦO','Аналитик',5)
st2=Student('Маронина','7/11/2003','Ж','89473735509854','mar2003@gmail.com','MГПУ','ИЦO','Аналитик',3)
st3=Student('Покин','31/8/2001','М','89476509854','pok1421@gmail.com','MГПУ','ИЦO','Аналитик',1)
print(st1.info())
print(st2.info())
print(st3.info())
del st3

Отчислен студент - Козлов 5
Козлов  - 5/10/2002,M,89473864854,kozel@gmail.com,MГПУ,ИЦO,Аналитик,5,ADEY
Маронина  - 7/11/2003,Ж,89473735509854,mar2003@gmail.com,MГПУ,ИЦO,Аналитик,3,ADEY
Покин  - 31/8/2001,М,89476509854,pok1421@gmail.com,MГПУ,ИЦO,Аналитик,1,ADEY
Отчислен студент - Покин 1

In [49]:
if st1.mark<st2.mark:
  print("Пока, первый студент")
  del st1
elif st1.mark>st2.mark:
  print("Пока, второй студент")
  del st2
else:
  print('молодцы!')

Пока, второй студент
Отчислен студент - Маронина 3

## Наследование

In [35]:
class Table:
  def __init__(self,l,w,h):
    self.height=h
    self.lenght=l
    self.width=w

class KitchenTable(Table):
  def setPlaces(self,p):
    self.places=p

class DeskTable(Table):
  def square(self):
    return self.width*self.lenght

class ComputerTable(DeskTable):
  def square(self,e):
    return self.width*self.lenght-e
ct=ComputerTable(2,1,1)
ct.square(0.3)

1.7

In [44]:
t1=KitchenTable(12,3,5,6)
t2=KitchenTable(2,2,0.7,8)
t2=DeskTable(13,4,8)

In [39]:
class KitchenTable(Table):
  def __init__(self,l,w,h,p):
    self.places=p
    self.height=h
    self.lenght=l
    self.width=w

In [40]:
class KitchenTable(Table):
  def __init__(self,l,w,h,p):
    Table.__init__(self,l,w,h)
    self.places=p

In [22]:
t1=KitchenTable()

TypeError: ignored

In [38]:
class ComputerTable(DeskTable):
  def square(self,e):
    return DeskTable.square(self)-e
ct1=ComputerTable(2,1,1)
ct1.square(0.3)

1.7

In [56]:
from random import randint

class Person:
  count=0
  def __init__(self,c):
    self.id=Person.count
    Person.count+=1
    self.command=c

class Hero(Person):
  def __init__(self,c):
    Person.__init__(self,c)
    self.level=1
  def upLevel(self):
    self.level+=1

class Soldier(Person):
  def __init__(self,c):
    Person.__init__(self,c)
    self.my_hero=None
  def follow(self,hero):
    self.my_hero=hero.id

In [58]:
h1= Hero(1)
h2= Hero(2)
army1=[]
army2=[]
for i in range(20):
  n=randint(1,2)
  if n==1:
    army1.append(Soldier(n))
  else:
    army2.append(Soldier(n))
print(len(army1),len(army2))
if len(army1) > len(army2):
  h1.upLevel()
else:
  h2.upLevel()
army1[0].follow(h1)
print(army1[0].id,h1.id)

12 8
26 22

## Полиморфизм

In [62]:
class T1:
  n=10
  def total(self,N):
    self.total=int(self.n)+int(N)

class T2:
  def total(self,s):
    self.total=len(str(s))

In [63]:
t1=T1()
t2=T2()
t1.total(45)
t2.total(45)
print(t1.total)
print(t2.total)

55
2

In [64]:
class Rectangle:
  def __init__(self,width,height,sign):
    self.w=int(width)
    self.h=int(height)
    self.s=str(sign)
  def __str__(self):
    rect=[]
    for i in range(self.h):
      rect.append(self.s*self.w)
    rect='\n'.join(rect)
    return rect 
  def __add__(self,other):
    return Rectangle(self.w+other.w,self.h+other.h,self.s)

In [65]:
a=Rectangle(4,2,'w')
print(a)
b=Rectangle(8,3,'z')
print(b)
print(a+b)
print(b+a)

wwww
wwww
zzzzzzzz
zzzzzzzz
zzzzzzzz
wwwwwwwwwwww
wwwwwwwwwwww
wwwwwwwwwwww
wwwwwwwwwwww
wwwwwwwwwwww
zzzzzzzzzzzz
zzzzzzzzzzzz
zzzzzzzzzzzz
zzzzzzzzzzzz
zzzzzzzzzzzz